* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Beginning of nav */
.nav {
    padding: 0;
}

.nav-container {
    display: flex;
    align-items: center;
    padding: .4rem 2rem;
    box-shadow: .2rem .2rem .2rem #98989871;
}

.nav-container a {
    font-size: .9rem;
    color: #000;
}

.nav-container a:hover {
    color: #5624d0;
}

.nav-container .cart {
    font-size: 1.2rem;
}

.nav-logo {
    height: 3rem;
}

.nav-search {
    display: flex;
    align-items: center;
}

.nav-search i {
    color: #918f8f;
    position: absolute;
    padding: 10px 18px;
    min-width: 40px;
}

.nav-search input {
    border: 1px solid #000;
    border-radius: 1.5rem;
    width: 28rem;
    padding: .8rem 2.5rem;
    font-size: .8rem;
    background-color: #edecec7e;
}

.nav-container .login-btn {
    font-size: .9rem;
    font-weight: 700;
    border: 1px solid #000;
    width: 5rem;
    padding: .5rem .6rem;
    margin-right: .2rem;
    background-color: #fff;
}

.nav-container .login-btn:hover {
    background-color: #ebe9e9;
}

.nav-container .signup-btn {
    font-size: .9rem;
    font-weight: 700;
    border: 1px solid #000;
    width: 5rem;
    padding: .5rem .6rem;
    background-color: #000;
    color: #fff;
    margin-left: .2rem;
}

.nav-container .globe-box {
    border: 1px solid #000;
    padding: .3rem .6rem;
    margin-left: .5rem;
    font-size: 1.2rem;
}
/* End of nav */
/* Beginning of section 1 */
.section-1-image {
    width: 100%;
}

.section-1-text {
    background-color: #fff;
    width: 30rem;
    position: absolute;
    top: 33%;
    left: 23%;
    transform: translateY(-50%) translateX(-50%);
    padding: 1rem 1.2rem;
}

.section-1-text h1 {
    font-weight: 600;
}

.section-1-text p{
    font-size: 1.3rem;
    font-weight: 500;
}
/* End of section 1 */
/* Beginning of section 2 */
.section-2 {
    padding: 1.2rem 1.3rem;   
}

.section-2 h1 {
    font-weight: 600;
}

.section-2 p {
    font-size: 1.3rem;
    margin-top: 1rem;
}

.nav-tabs {
    font-weight: 500;
}

.course-tab {
    border: 1px solid #ccc;
    padding: 1.8rem 1.8rem;
}

.course-tab h4 {
    font-weight: 700;
}

.course-tab p {
    font-size: 1.1rem;
}

.course-tab button {
    padding: .5rem;
    background-color: white;
    border: 1px solid #000;
    font-weight: 600;
}

.course-container {
    display: flex;
    align-items: center;
    /* justify-content: space-evenly; */
    margin-top: 2rem;
}

.course-card {
    width: 15rem;
}

.course-img {
    width: 14rem;
}

.course-card h6 {
    margin-top: .5rem;
    margin-bottom: 0;
    font-weight: 700;
}

.instructor {
    font-size: .8rem;
    color: #666666;
}

.course-rating {
    display: flex;
    align-items: center;
    color: #e4990f;
    font-size: .7rem;
}

.rating {
    color: #9c6705;
    font-size: .9rem;
    font-weight: 700;
}

.views {
    color: #666666;
    font-size: .9rem;
}

.sale-price {
    font-weight: 700;
}

.price-slash {
    font-size: .9rem;
    text-decoration: line-through;
    color: #666666;
}
/* End of section 2 */
.short-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.2rem 1.3rem;
    background-color: #e5eaec79;
}

.short-section div {
    display: flex;
    align-items: center;
    width: 23rem;
}

.short-section i {
    background-color: #acaeaeaf;
    padding: .8rem .9rem;
    font-size: .9rem;
    border-radius: 50%;
    margin-right: .9rem;
}

.short-section span {
    font-weight: 700;
}

/* Beginning of section 3 */
.section-3 {
    margin-top: 1.5rem;
    padding: 1.2rem 1.3rem;
}

.section-3 h3 {
    font-weight: 700;
}

.tag {
    background-color: #c2c8148e;
    font-size: .7rem;
    font-weight: 700;
    padding:.2rem .4rem;
    width: fit-content;
    margin-top: .7rem;
}
/* End of section 3 */
/* Beginning of section 4 */
.section-4 {
    margin-top: 2rem;
    padding: 1.2rem 1.3rem;
}

.section-4 h3 {
    font-size: 1.4rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

.categories-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.categories img {
    transition: transform .2s;
    width: 18rem;
}

.categories img:hover {
    transform:scale(1.03);
}

.categories h4 {
    font-size: 1rem;
    font-weight: 700;
    margin-bottom: 1.5rem;
}
/* End of section 4 */
/* Beginning of section 5 */
.section-5 {
    margin-top: 2rem;
    padding: 2rem 1.3rem;
    background-color: #e5eaec79;
}
.section-5 h4 {
    font-size: 1.4rem;
    font-weight: 700;
    margin-left: 2rem;
    margin-bottom: 1.2rem;
}

.topics {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.topics ul {
    list-style-type: none;
    font-size: 1.2rem;
    font-weight: 700;
}

.topics li {
    padding: .4rem;
}

.topics a {
    font-size: 1rem;
    color: #5624d0;
}

.topics p {
    font-size: .9rem;
    font-weight: 400;
    color: #595959;
}

.topic-btn {
    padding: .4rem;
    background-color: #e5eaec79;
    border: 1px solid #000;
    font-weight: 600;
    width: fit-content;
    margin-left: 2rem;
}
/* End of section 5 */
/* Beginning of section 6 */
.section-6 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem;
}

.section-6 img {
    width: 27rem;
    margin-left: 7rem;
    margin-right: 5rem;
}

.text {
    width: 30rem;
}

.text h2 {
    font-weight: 700;
    padding-bottom: 1rem;
}

.text p {
    font-size: 1.2rem;
}

.text button {
    font-size: 1rem;
    font-weight: 700;
    padding:.4rem;
    background-color: #000;
    color: #fff;
}
/* End of section 6 */
/* Beginning of section 7 */
.section-7 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem;
}

.section-7 img {
    width: 27rem;
    margin-left: 7rem;
    margin-right: 5rem;
}

.text img {
    width: 12rem;
}
/* End of section 7 */
/* Beginning of section 8 */
.section-8 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem;
}

.section-8 img {
    width: 27rem;
    margin-left: 7rem;
    margin-right: 5rem;
}
/* End of section 8 */
footer {
    background-color: #000;
    display: flex;
    flex-direction: column;
}

.upper-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3rem;
}

.upper-footer button {
    border: 1px solid #fff;
    background-color: black;
    color: #fff;
    padding: .5rem .7rem;
}

.footer-links {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1.5rem;
}

.footer-links li {
    list-style-type: none;
    padding: .2rem;
    font-size: .9rem;
}

.footer-links a {
    color: #fff;
    text-decoration: none;
}

.footer-links a:hover {
    text-decoration: underline;
    cursor: pointer;
}

.bottom-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 3rem 3rem 3rem;
    margin-top: 0;
}

.bottom-footer img {
    width: 7rem;
}

.bottom-footer span {
    color: #fff;
    font-size:.8rem;
}